body{
    background-color:wheat;
     font: 14px Georgia, serif; 
    }
 
#page-wrap {
     width: 500px; margin: 0 auto;
    }
 
h1  {
    margin: 25px 0;
    font: 18px Georgia, Serif;
    text-transform: uppercase; 
    letter-spacing: 3px; 
    }
 
#quiz input {
    vertical-align: middle;
}
 
#quiz ol {
   margin: 0 0 10px 20px;
}
 
#quiz ol li {
   margin: 0 0 20px 0;
}
 
#quiz ol li div {
   padding: 4px 0;
}
 
#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}
 
#results {
    font: 44px Georgia, Serif;
}
.theQu{
  
   margin: 5px;
   text-align: center;
   transform-style: preserve-3d;
   transition: transform .2s;
   vertical-align: middle;
   background-color: rgb(177, 147, 91);
   opacity: 0.7;
   
}
.theQu:active{
   transform :scale(.97);
   transition: transform .2s;
}
